h1{
	text-align:center ;
}
h3{
	text-align:center;
	color:white;
}
p.game{
	color:white;
	margin-left: 10px;	
}
span.game{
	color:white;
}
button.game{
	display:box;
	text-align: center;
	width: 130px;
	height: 30px;
	background-color: #848484;
	border-radius: 20px;
	margin:5px;
}

#game_screen{
	overflow:hidden;
	position:relative;
	z-index:1;
	background-color: white;
	margin-left:10px;
	border: 2px solid black;
	border-radius: 20px;
	box-shadow: inset 0px 0px 15px #888; 
}
#background{
	position:relative;
	z-index:0;
	display:box;
	border: 1px solid black;
	background-color:#0B6121;
	width: 600px;
	border-radius: 20px;
	box-shadow: inset 0px 0px 30px #888;
}

div.game {
	border: 2px solid black;
	border-radius:20px;
	box-shadow: inset 0px 0px 15px #888;
	background-color: black;
}
#stats{
	position:relative;
	margin-right: 10px;
	float:right;
	width:150px;
	height:100px;
}

#command_card{
	display:box;
	position:relative;
	bottom: 285px;
	clear: bottom;
	float:right;
	margin-right: 10px;
	width:150px;
	height:200px;		
}
#message_box{
	position:relative;
	clear:top;
	width: 565px;
	height: 90px;
	margin-left:10px;
	margin-bottom: 10px;
	padding-top:10px;
	padding-left:10px;
}
#itemMenu{
	position:absolute;
	top:180px;
	z-index:100;
	padding:10px;
	width :300px;
	height : 200px;
	margin-left:50px;
}
